# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/other

# misc
.DS_Store
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
